bin/build/*
*.o
*.d
tf2_src/devtools/bin/vpc_linux
tf2_src/external/vpc/utils/vpc/obj/Linux/release/vpc
!tf2_src/thirdparty/protobuf-2.6.1.tar.gz
tf2_src/thirdparty/protobuf-2.6.1
projgen.log
protobuf.log